@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --clr-primary-50: #eff9ff;
  --clr-primary-100: #dbf0fe;
  --clr-primary-200: #bfe5fe;
  --clr-primary-300: #93d6fd;
  --clr-primary-400: #60bdfa;
  --clr-primary-500: #3c9ff5;
  --clr-primary-600: #2c86eb;
  --clr-primary-700: #1e6bd7;
  --clr-primary-800: #1e57af;
  --clr-primary-900: #1e4b8a;
  --clr-primary-950: #172f54;

  --clr-secondary-100: #e5e4e2;
  --clr-secondary-200: #d3d3d3;
  --clr-secondary-300: #c0c0c0;
  --clr-secondary-500: #848884;
  --clr-secondary-600: #808080;
  --clr-secondary-900: #36454f;

  --txt-white: var(--clr-primary-100);
  --txt-black: var(--clr-primary-950);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 30px);
}

.mainRight {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  background-color: var(--clr-primary-950);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  color: var(--txt-white);
}

.links {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

nav a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--txt-white);
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--clr-primary-300);
}

nav a:active {
  color: var(--clr-primary-500);
}

[aria-current="page"] {
  border-left: 8px solid var(--clr-primary-300);
  padding-left: 12px;
}

.userinfo {
  height: 75px;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--txt-white);
  border-top: 1px solid var(--txt-white);
}
/* -------- */

header {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  border: 1px solid blue;
}

.search {
  text-align: center;
  width: 85%;
}

.content {
  padding: 20px 50px;
}

/* footer */
footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30px;
  bottom: 0;
  background-image: linear-gradient(var(--clr-secondary-200) 0%, var(--clr-secondary-100) 35%, var(--clr-secondary-200) 100%);
  color: var(--txt-black);
}

footer a {
  color: var(--txt-black);
  padding-left: 10px;
}

footer a:hover {
  color: var(--clr-primary-900);
}
